@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff;
  color: #101011;
}

@layer utilities {
  .link-hover {
    @apply text-black hover:text-gray-500 hover:font-bold hover:border-b-3 transition-all;
  }
}

